.Details{
    text-align: center;
    justify-content: center;
    font-size: 10px;
    font-family: Helvetica;
    margin: 2px;
    width: 45%;
    margin-left: 25%;
}

.ColourPerfectGreen{
    background-color: rgb(97, 153, 0);
    border-radius: 5px;
    border: 1px solid black;
}

.ColourGreen{
    background-color: rgb(169, 207, 102);
    border-radius: 5px;
    border: 1px solid black;
}

.ColourYellow{
    background:rgb(212, 204, 82);
    border-radius: 5px;
    border: 1px solid black;
}

.ColourRed{
    background:rgb(218, 137, 111);
    border-radius: 5px;
    border: 1px solid black;
}

.UpdateButton{
    margin-bottom: 5px;
}
